main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    margin-bottom: 30px;
    text-align: center;
}

.section-title {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 10px 0;
    font-size: 1.5rem;
    margin: 0;
    border-radius: 4px;
}

#course-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.image-container {
    margin-top: 15px;
}

.image-container img {
    width: 100%;
    max-width: 38rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.image-caption {
    margin-top: 5px;
    font-size: 0.9rem;
    color: var(--primary-color);
}

.filter-buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.filter-buttons button {
    padding: 10px 20px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: var(--secondary-color);
}

.course-card {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    color: white;
}

.course-card.completed {
    background-color: var(--graycolor);
}

@media (min-width: 769px) {
    .section-wrapper {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 1rem;
    }

    .section {
        flex: 1;
        background-color: var(--neutral-color);
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        min-width: 300px;
    }

    #course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
